/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    background-color: #F6F6F6;
}

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 sans-serif;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.bgimg-1 {
    background-image: url(../img/bgimg1.jpeg);
    min-height: 100%;
    position: relative;
    opacity: 0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1120px;
    height: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #F6F6F6;
    box-sizing:  border-box;
}

.header i {
    font-size: 2rem;
    color: #000000;
    margin: 0 5px;
}

.header i:hover{
    transition: 0.5s ease;
    color: #7D1935;
}

.header-links {
    display: inline;
    float: right;
    font-size: 1.2rem;
}

.header-links a {
    margin: 0 20px;
    color: #000000;
    text-decoration: none;
}

.header-links a:hover {
    transition: 0.5s ease;
    color: #7D1935;
}

.caption {
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 50%;
    width: 100%;
    color: #000000;
    text-align: center;
    box-sizing:  border-box;
    /* padding: 0px 670px; */
}

#border {
    height: 36px;
    width: 410px;
    margin: 0 auto;
    background-color: #111;
    color: #fff;
    border: 2px solid #7D1935;
    padding: 18px;
    font-size: 22px;
    letter-spacing: 3px;
}

.about-me {
    height: 335px;
    width: 100%;
    box-sizing:  border-box;
    padding: 30px;
}

.about-me h1 {
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
}

.about-me p {
    width: 46%;
    margin: 0 10px;
    display: inline-block;
    text-align: justify;
}


.about-me-quote{
    width: 100%;
    height: 60px;
    color: #ffffff;
    background-color: #7D1935;
}

.about-me-quote h3{
    height:  100%;
    text-align: center;
    margin: 0 auto;
}

.about-me-quote p{
    font-size: 1rem;
    margin-left: 20px;
    display: inline-block;
    color: #c7b6b6;
}

.my-skills{
    height: 600px;
    background-color: #111;
    box-sizing:  border-box;
    padding: 30px;
}

.my-skills img{
    height: 80px;
}

.my-skills section{
    text-align: center;
    margin-bottom: 30px;
}

.my-skills h1 {
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 25px;
}

.my-skills section img {
    margin: 0 20px;
}

.my-projects {
    background: url("../img/projects.jpeg");
    text-align:  center;
    height: 500px;
    position: relative;
    opacity: 0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-projects h2{
    color: #c1adad;
    background: #111;
    border: 3px solid;
    border-radius: 15px;
    display: inline-block;
    padding: 18px;
    position: relative;
    margin: 165px 0;
    box-shadow: 0px 0px 70px 10px;
}

.my-projects h2:hover{
    transition: 0.5s ease;
    color: #ffffff;
}

.contact {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    color: #000;
    box-sizing: border-box;
    padding: 30px;
    background-image: url(../img/contact2.jpg);
    position: relative;
    opacity: 0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact h1{
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
}

.contact-form{
    width: 45%;
    height: 100%;
    margin: 0 auto;
    box-sizing:  border-box;
}

.contact-form input{
    width: 100%;
}

.contact-form label{
    width: 100%;
    display: inherit;
    font-size: 1.2rem;
}

.contact-form button{
    width: 120px;
    height: 50px;
    float: right;
    background:  #111;
    border: 2px solid;
    border-radius: 20px;
    text-transform:  uppercase;
    font-weight: bold;
    color: #ffffff;
}

#message{
    width: 100%;
    height: 150px;
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 150px;
}

footer{
    width: 100%;
    height: 250px;
    background-color: #1a507b;
}

.col{
    width: 33.33%;
    height: 100%;
    color: #ffffff;
    float: left;
    text-align: center;
    box-sizing:  border-box;
    padding: 57px;
}

.col-links{
    box-sizing:  border-box;
    padding: 85px;
}

.col-links a{
    font-size: 3rem;
    margin: 10px;
}

.col-links a:hover{
    transition: 0.5s ease;
    color: #7D1935;
}

.col-copyrights {
    font-size: 1.2rem;
    padding: 91px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


